@theme "everforest"

configuration {
  modes: "window,drun,run,ssh";
	font: "mono 13";
	show-icons: false;
  dpi: 140;
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}
